  body{
    background-color: #d9d9d9;
    margin:40px 60px 40px 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
  }

  h6 {
    color: #ad9d98;
  }

  p{
    color:grey;
    font-size: 1.8rem;
  }

  ul{
    list-style: none;
    margin: 3px 0 3px 0;
  }

  footer{
    background-color: white;
    color: black;
    margin-top: 6rem;
    padding: 1rem;
    font-size: 5rem;
    font-weight: 600;
  }

  footer li {
    float: left;
    padding: 0.4rem;
    font-size: 1.6rem;
  }

   footer .nav-link {
     padding: 0px;
   }

  a, a:hover, a:visited, a:link {
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    -webkit-text-align: center;
  }

  section#profilo {
    margin-bottom: 12rem;
  }

  .titulo-seccion{
    color: black;
    font-size: 2rem;
    letter-spacing: 4px;
    margin: 5rem 0px 2rem 0px;
  }

  .imagenes{
    padding: 1em;
  }

  .zoom {
    transition: transform 1s; /* Animation */
  }

  .zoom:hover {
    transform: scale(1.1);
    }

  .navbar-brand {
    font-size: 1.8rem;
  }

  .carousel-item {
    width:100%;
    height: 470px;
  }

   .carousel-control-next, .carousel-control-prev  {
     filter: invert(100%);
     }

  figure {
    margin: 0px 0px 1rem 0px;
  }

 figcaption {
   font-size: 2rem;
   letter-spacing: 2px;
   font-weight: 500;
 }

@media(min-width:768px) and (max-width: 1023.98px){
  footer li{
    font-size: 1.3rem;
  }
}

  @media(min-width:1024px) {
  p {
    font-size: 1.1rem;
  }

  section#progetti img {
    width: 90%;
    }

  .navbar-brand {
    font-size: 1.2rem;
   }

   figcaption {
     font-size: 1.2rem;
   }

   footer li{
     font-size: 1rem;
   }
  }

  @keyframes altura1 {
    0% { transform: translate(0px, 600px);}
    100% {transform: translate(0px,0px);}
  }

  @-o-keyframes altura1 {
    0% { transform: translate(0px, 600px);}
    100% {transform: translate(0px,0px);}
  }
  @-moz-keyframes altura1 {
    0% { transform: translate(0px, 600px);}
    100% {transform: translate(0px,0px);}
  }

  @-webkit-keyframes altura1 {
    0% { transform: translate(0px, 600px);}
    100% {transform: translate(0px,0px);}
  }

  @keyframes altura2 {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, 100px);}
    100% {transform: translate(0px, 0px);}
  }

  @-o-keyframes altura2 {
    0% {transform: translate(0px, 0px); }
    50% {transform: translate(0px, 100px);}
    100% {transform: translate(0px, 0px);}
  }
  @-moz-keyframes altura2 {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, 100px);}
    100% {transform: translate(0px, 0px);}
  }

  @-webkit-keyframes altura2 {
    0% {transform: translate(0px, 0px);}
    50% {transform: translate(0px, 100px);}
    100% {transform: translate(0px, 0px);}
  }

  @keyframes altura3 {
    0% { transform: translate(0px, -200px);}
    50% {transform: translate(0px, 120px);}
    100% {transform: translate(0px,0px);}
  }

  @-o-keyframes altura3 {
    0% { transform: translate(0px, -200px);}
    50% {transform: translate(0px, 120px);}
    100% {transform: translate(0px,0px);}
  }

  @-moz-keyframes altura3 {
    0% { transform: translate(0px, -200px);}
    50% {transform: translate(0px, 120px);}
    100% {transform: translate(0px,0px);}
  }

  @-webkit-keyframes altura3 {
    0% { transform: translate(0px, -200px);}
    50% {transform: translate(0px, 120px);}
    100% {transform: translate(0px,0px);}
  }
